<div class="navigationWrapper">
<% if @employee.manager? %>
<div class="navigationEntry"><a href="<%= manager_index_url(@company.url_name) %>">Overview</a></div>
<div class="navigationEntry"><a href="<%= update_company_info_url(@company.url_name) %>">Company</a></div>
<div class="navigationEntry"><a href="<%= create_customer_service_rep_url(@company.url_name) %>">Employees</a></div>
<div class="navigationEntry"><a href="<%= update_support_bot_behavior_url(@company.url_name) %>">Support Bot</a></div>
<% end %>
<div class="navigationEntry"><a href="<%= employee_chat_url(@company.url_name) %>">Chat</a></div>
<div class="navigationEntry"><a href="<%= update_employee_info_url(@company.url_name) %>">Account</a></div>
<div class="navigationEntry"><a href="<%= logout_url %>">Logout</a></div>
</div>