<% content_for :scripts do %>
	<script type="text/javascript" charset="utf-8" src="http://drop.io/javascripts/streamer.js"></script>
	
	<script>
	Event.observe(window,"load",function() {
		SupportableChat.start("<%= @company.url_name %>","<%= @drop_name %>","<%= @chat_password %>",true);
	})
	</script>
<% end %>

<div class="title">Employee Chat Room</div>

<%= render :partial => "employees/counts" %>

<div class="helpNextButton">
	<button onclick="top.location = '<%= help_next_customer_url(@company.url_name) %>' ">Help The Next Waiting Customer!</button>
</div>


<%= render :partial => "shared/supportable_chat" %>