<h1>Manager Overview Page</h1>
Welcome <%= @manager.first_name %>. From here you can manager all aspects of your company, <%= @company.name %>.<br /><br />
<% if @manager.created_at > Time.now - 1.minute %>
	To get started, you should <a href="<%= update_support_bot_behavior_url(@company) %>">Create Some Support Actions</a>
<% end %>

Total Customers Using Support Bot: <%= @counts[:self_help] %><br />
Total Customers Waiting For Help: <%= @counts[:need_help] %><br />
Total Customers Being Helped: <%= @counts[:help_arrived] %><br />
Total Customers Who Have Had Their Problems Solved: <%= @counts[:problem_solved] %><br />

<br /><br />
