<div class="title">Manager Overview Page<br /><%= @company.name %></div>

<div class="description">
	Welcome <%= @manager.first_name %>. From here you can manager all aspects of your company.
	<% if @manager.created_at > Time.now - 1.day %>
		To get started, you should: <br />
			1) <a href="<%= create_customer_service_rep_url(@company.url_name) %>">Create some employee accounts</a><br />
			2) <a href="<%= update_support_bot_behavior_url(@company.url_name) %>">Configure your automated support bot</a>
	<% end %>
	<br /><br />
	When everything is all set, you should have your employees go <a href="<%= employee_chat_url(@company.url_name) %>">here</a>, and your customers go <a href="<%= company_landing_page_url(@company.url_name) %>">here</a>.
</div>

<%= render :partial => "employees/counts" %>
