<div class="title">Change How Your Support Bot Behaves</div>

<div class="description">
Your Support Bot is the automated customer service representative who will first greet your customers and try to answer their questions. You can configure general things about it such as its nickname in the chat room, and also what it says and what commands it recognizes from the user.
</div>

<%= render :partial => "shared/message" %>

<div class="title" style="margin-bottom: 5px">General Configuration</div>
<div class="formWrapper" style="height: 120px;">
	<form action="<%= update_support_bot_config_url(@company.url_name)%>" method="post">
		<div class="label">Chat Nickname</div><div class="field"><input type="text" name="support_bot_nick" value="<%= @company.support_bot_nick %>"></div>
		<div class="label">Error Response</div><div class="field"><input type="text" name="support_bot_error_response" value="<%= @company.support_bot_error_response %>"></div>
		<div class="submitWrapper"><input type="submit" value="Update!" /></div>
	</form>
</div>

<div class="title" style="margin-bottom: 5px">Create A Support Action</div>
<div class="formWrapper" style="height: 120px;">
	<form action="<%= create_support_action_url(@company.url_name)%>" method="post">
		<div class="label">Description</div><div class="field"><input type="text" name="support_action[description]" /></div>
		<div class="label">Action Type</div><div class="field"><input type="radio" name="support_action[action_type]" value="<%= SupportAction::Actions::TEXT %>"> Text 
		<input type="radio" name="support_action[action_type]" value="<%= SupportAction::Actions::OPTIONS %>"> Options 
		<input type="radio" name="support_action[action_type]" value="<%= SupportAction::Actions::HELP %>"> Help</div>
		<div class="submitWrapper"><input type="submit" value="Create!" /></div>
	</form>
</div>

<div class="title" style="margin-bottom: 5px">Create A Support Option</div>
<div class="formWrapper" style="height: 120px;">
	<form action="<%= create_support_option_url(@company.url_name)%>" method="post">
		<div class="label">Control</div><div class="field"><input type="text" name="support_option[control]" /></div>
		<div class="label">Description</div><div class="field"><input type="text" name="support_option[description]" /></div>
		<div class="label">Parent Support Action ID</div><div class="field"><input type="text" name="support_option[parent_support_action_id]" /></div>
		<div class="label">Target Support Action ID</div><div class="field"><input type="text" name="support_option[target_support_action_id]" /></div>
		<div class="submitWrapper"><input type="submit" value="Create!" /></div>
	</form>
</div>


<br /><br />

<hr>

<br /><br />

<% @support_actions.each do |sa| %>
	<b>Support Action ID # <%= sa.id %></b><br />
	Description: <%= sa.description %><br />
	Action Type: <%= sa.action_type %><br />
	Root?: <%= "#{sa.root}" %><br />
	Options: <br />
	<div style="margin-left: 15px;">
	<% sa.support_options.each do |so| %>
		Control: <%= so.control %><br />
		Description: <%= so.description %><br />
		Target Support Action ID: <%= so.target_support_action_id %><br /><br />
	<% end %>
	</div>
	<br />
<% end %>